# Core
tensorflow
numpy
pandas
matplotlib
scikit-learn
Pillow
tqdm

# Image Processing
opencv-python-headless
scikit-image

# Streamlit
streamlit
altair

# AWS
boto3
sagemaker

# Development
pytest
black
flake8
mypy
jupyter
